i {
  color: red;
}

.links a {
  text-decoration: none;
}

a[href^="http://"]
{
  color: red;
}

a {
  color: green;
}

.line {
  text-decoration: underline;
}

p .line {
  color: grey;
}

b {
  color: purple;
  text-decoration: underline;
}

.odd .line {
  color: blue;
}

.odd i {
  text-decoration: underline;
}

a[href*='.com'] {
  color: black;
}
